*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(34, 165, 122);
}

h1{
    text-align: center;
}

.container{
    height: 70vh;
    width: 70vw;
    margin: auto;
    display: flex;
    gap: 1vmin;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    /* border: 1.5px solid black; */
    border: none;
    border-radius: 7px;
    font-size: 8vmin;
    color: rgb(165, 69, 69);
    background-color: #fafad4;
}

#reset-btn{
    text-align: center;
}
#reset-btn button{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 0.7rem;
    border: none;
    /* margin: 20px; */
}

#msg{
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}